{% extends "base.html" %}
{% block content %}

<!-- Header -->
<br><br><br><br><br><br><br><br><br>
<header class="ex-header">
    <div class="container mx-auto px-4 sm:px-8 xl:max-w-6xl xl:px-4">
        <a class="text-gray-800 font-semibold text-4xl leading-4 no-underline">Analysis on stock market change</a>
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 py-12">
    <div class="container mx-auto px-4 sm:px-8 xl:max-w-5xl xl:px-12">

        <div class="py-24">
            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-7">
                    <div class="mb-12 lg:mb-0 xl:mr-14">
                        <img class="rounded size5 scale-image" src="/static/images/zhenek.jpg" alt="alternative">
                        <!--<img class="rounded size5 scale-image" src="/static/images/rebyata.jpg" alt="alternative">-->
                    </div>

                </div> <!-- end of col -->
                <div class="lg:col-span-5">
                    <div class="xl:mt-12">
                        <h2 class="mb-6">My name is Evgeny</h2>
                    </div>

                    <div class="text-box my-12">
                        <p class="p-large mb-4">Hello! This is my project for the first year Python programming course in Higher School of Economics, Moscow, Russia.</p>
                    </div>

                    <div class="text-box my-12">
                        <p class="p-large mb-4">We're going to dive into the intriguing world of stock market analysis. The research perfectly suits anyone who is curious about how the stock market operates and the factors influencing the performance of specific stock.</p>
                    </div>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of container -->
        <br><br><br>


        <div id="details" class="pt-12 pb-16 lg:pt-16 text-center">
            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-5">
                    <div class="mb-16 lg:mb-0 xl:mt-16">
                        <h2 class="mb-6">Purpose of the research</h2>
                        <br><br>
                        <p class="p-large mb-12">To make analysis and conclusions on some dependances in the stock market data</p>

                        <p class="p-large mb-12">To focus on some stable financial indicators to try and clarify the complexities of stock market trends</p>
                        <p class="p-large mb-12">Via parsing data on Yandex and Sovcomdlot shares</p>
                    </div>
                </div> <!-- end of col -->
                <div class="lg:col-span-7">
                    <div class="xl:ml-14">
                        <div class="ripsa"><img class="inline rounded size1 scale-image2" src="static/images/rofl.jpg"/></div>
                    </div>

                </div> <!-- end of col -->
            </div> <!-- end of container -->
        </div>
        <br><br><br><br><br><br>

        <div id="details" class="lg:col-span-7 detalka">
            <h2 class="mb-6 text-center">Brief data overview</h2>
            <img src="static/images/yandex1925M.png" style="max-width: 50%">
            <img src="static/images/flot2123.png" style="max-width: 60%">
        </div>
        <br><br><br><br><br>






        <div id="details" class="pt-12 pb-16 lg:pt-16">
            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-5">
                    <h2 class="mb-6">Relative Strength Index (RSI) parameter overview</h2>
                    <div class="mb-16 lg:mb-0 xl:mt-16">

                        <div>
                            <p >$$ RSI = 100 - \frac{100}{1 + RS} $$</p>
                            <p>$$ \begin{align*} RS & = \frac{\text{AG}}{\text{AL}} \end{align*} $$ </p>
                            <p>$$ \begin{align*} \text{AG (Average Gain)} & = \frac{\text{Sum of gains over } n \text{ periods}}{n} \end{align*} $$ </p>
                            <p>$$ \begin{align*} \text{AL (Average Loss)} & = \frac{\text{Sum of losses over } n \text{ periods}}{n} \end{align*} $$</p>
                        </div>
                        <p class="p-large mb-12"><br>RSI is used to determine price reversal on the timeframe from 1 week to several months. Let's look at commonly used periods for calculating RSI.</p>
                    </div>
                </div> <!-- end of col -->
                <div class="lg:col-span-7">
                    <div class="xl:ml-14">
                        <img class="inline" src="static/images/usualRSIusage.png">
                        <p class="p-large mb-12"><br><strong>Notice when we have a higher volume of RSI there is less noise, and we get more accurate trend representation</strong></p>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of container -->
        </div>
        <br><br><br><br>





        <div class="lg:col-span-7">
            <h2 class="mb-6 text-center">Question: <br> What if we try to calculate correlation between the RSI and the market price? <br> What we'll get and how it can help us?</h2>
            <div class="xl:ml-14">

        </div> <!-- end of col -->


        <div class="py-24">
            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-7">
                    <div class="mb-12 lg:mb-0 xl:mr-14">
                        <img class="inline text-center" src="static/images/corr_RSI_Price.png">
                        <!--<img class="rounded size5 scale-image" src="/static/images/rebyata.jpg" alt="alternative">-->
                    </div>

                </div> <!-- end of col -->
                <div class="lg:col-span-5">

                    <div class="text-box my-12">
                        <p class="p-large mb-12 "><strong>It is the correlation on 3 month timeframe, obviously if we try to compute the correlation of parameters of the entire dataframe the result will approach zero</strong></p>
                    </div>

                    <div class="text-box my-12">
                        <p class="p-large mb-4"></p>
                    </div>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of container -->
        <br><br><br>





        <div class="lg:col-span-7">
            <div class="xl:ml-14">
                <h2 class="mb-6 text-center">Answer: we'll get nothing but constant. <br> It does not help us with predicting the price of a share</h2>
            </div>
        </div> <!-- end of col -->


        <div id="details" class="pt-12 pb-16 lg:pt-16 text-center" style="">
            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-5">
                    <p class="p-large mb-20"><strong>Here's my starting idea. We can try to iterate this procedure over small frames and save the result on each step.</strong></p>
                    <div class="mb-26 lg:mb-10 xl:mt-26">
                        <p class="p-large mb-20">Suppose we do the iteration of RSI-n (RSI calculated with n period) by intervals of size K, here's what it will look like:
                        <div>
                            <p class="p-large mb-20">We can iterarte this procedure with small frames and add the result of each step. Let it be delta RSI - dRSI</p>
                        </div>
                    </div>
                </div> <!-- end of col -->
                <div class="lg:col-span-7">
                    <div class="xl:ml-14">
                        <img src="static/images/iter.gif" alt="iter">

                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of container -->
        </div>

        <br><br>




         <div id="details" class="lg:col-span-7 detalka">
            <h2 class="mb-6 text-center">Now, we can plot the graph and see the dynamic correlation (we are interested in second row)</h2>
             <h2 class="p-large text-center">RSI-7 dRSI-60; RSI-14 dRSI-120 <br> Unstable correlation, dRSI takes much than it should</h2>
            <img src="static/images/figure1.png" style="max-width: 50%">
            <img src="static/images/figure2.png" style="max-width: 50%">
             <h2 class="p-large text-center">RSI-7 dRSI-30; RSI-14 dRSI-45 <br> Minor improvement, but unsatisfying</h2>
             <img src="static/images/figure3.png" style="max-width: 50%">
            <img src="static/images/figure4.png" style="max-width: 50%">
             <h2 class="p-large text-center">RSI-7 dRSI-7; RSI-14 dRSI-14 <br> This inequality shows a better correlation period(dRSI) <= period(RSI) by these plots</h2>
            <img src="static/images/figure5.png" style="max-width: 50%">
            <img src="static/images/figure6.png" style="max-width: 50%">
            <h2 class="p-large text-center">Here we got accurate correlations to play with, because 65% are covered in dRSI >= 0.9</h2>
            <img src="static/images/perfectFLOT.png" style="max-width: 50%">
            <img src="static/images/perfectYNDX.png" style="max-width: 50%">


        </div>



        <br><br><br><br>

        <div id="details" class="lg:col-span-7 detalka">
            <h2 class="mb-6 text-center">Details and observations:</h2>
            <p class="p-large text-center">Let's assume the changes during COVID are external and our <br>new indicator properly shows the "level of exposure to external situations in the industry" ("уровень подверженности внешним ситуациям в отрасли")<br> Let's try to prove the assumption based on different data</p>


             <h2 class="p-large text-center">RSI-17 dRSI-17; RSI-35 dRSI-35 <br> we can see the incident and the reaction of dRSI</h2>
             <img src="static/images/YNDXCoviddRSIequal.png" style="max-width: 50%">
            <img src="static/images/FLOTCoviddRSIequal.png" style="max-width: 50%">
            <h2 class="p-large text-center">RSI-17 dRSI-5; RSI-35 dRSI-7 <br> Easily shows the COVID event <br></h2>
            <img src="static/images/FLOTCoviddRSIsmall.png" style="max-width: 50%">
            <img src="static/images/YNDXCoviddRSIsmall.png" style="max-width: 50%">

            <h2 class="p-large text-center">RSI-7 dRSI-5; RSI-14 dRSI-7 <br> considering Oil and Gold prices it should be obvious that <br> our new indicator somehow demonstrates what we assumed <br> "level of exposure to external situations in the industry" ("уровень подверженности внешним ситуациям в отрасли") (means period of it calculation relates to the definition)</h2>


            <img src="static/images/AssumptionCrudeOildRSI.png" style="max-width: 50%">

            <img src="static/images/AssumptionGolddRSI.png" style="max-width: 50%">


        </div>
        <h2 class="mb-6 text-center">Finally, dRSI's behaviour: </h2>
        <div id="details" class="pt-12 pb-16 lg:pt-16 text-center" style="">

            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-5">
                    <p class="p-large mb-20"><strong>It should be evident because of amount of iterations</strong></p>
                    <div class="mb-26 lg:mb-10 xl:mt-26">
                        <p class="p-large mb-20">Explanation: more iterarions consist of some extreme event and the bend softens<div>
                            <p class="p-large mb-20">While in another case dRSI become more sensitive <br> to the event because of its "small memory" and nearness of his prediction</p>
                        </div>
                    </div>
                </div> <!-- end of col -->
                <div class="lg:col-span-7">
                    <div class="xl:ml-14">
                        <img src="static/images/Grap.png" style="max-width: 60%">

                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of container -->
        </div>

        <br><br><br><br><br>




            


{% endblock %}
